<h3>New Topic</h3>
<form name="newTopicForm" novalidate ng-submit="save()">
    <fieldset>
        <div>
            <label for="title">Title</label>
            <input type="text" value="title" name="title" ng-model="newTopic.title" required ng-minlength="5" />
            <span class="error" ng-show="newTopicForm.title.$error.required">*</span>
            <span class="error" ng-show="newTopicForm.title.$error.minlength">Minimum 5 Characters required</span>
        </div>
        <div>
            <label for="body">Body</label>
            <textarea rows="5" cols="30" value="body" name="body" ng-model="newTopic.body" required ng-minlength="15" />
            <span class="error" ng-show="newTopicForm.body.$error.required">*</span>
            <span class="error" ng-show="newTopicForm.body.$error.minlength">Minimum 15 Characters required</span>
        </div>
        <div>
            <input type="submit" value="Save" class="btn" ng-disabled="newTopicForm.$invalid"/>
            <a href="#/" class="btn">Cancel</a>
        </div>
    </fieldset>
</form>